@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
  background: linear-gradient(
    to right,
    #ffb6c1 0%,
    #ff69b4 50%,
    #9400d3 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.btn:hover {
  background: linear-gradient(
    to right,
    #9400d3 0%,
    #ff69b4 50%,
    #ffb6c1 100%
  );
}


.text-gradient {
  background: linear-gradient(90deg, #9400d3 0%,
  #ff69b4 50%,
  #ffb6c1 100% 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.gradient,
.active {
  background: linear-gradient(
    to right,
    #9400d3 0%,
    #ff69b4 50%,
    #ffb6c1 100%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}


.gradient-icon {
  background: linear-gradient(
    to right,
    #ffb6c1 0%,
    #ff69b4 50%,
    #9400d3 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon-gradient {
  background: linear-gradient(
    to right,
    #ffb6c1 0%,
    #ff69b4 50%,
    #9400d3 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

.hover\:scale-110:hover {
  transform: scale(1.10);
}
